{% extends "base_generic.html" %}
{% block title %}Logout{% endblock title %}
{% block content %}
<nav>
  <div>
    <a href="{% url 'register' %}" method="GET">
      <button type="submit">Create New User</button>
    </a>
    <p></p>
    <a href="{% url 'login' %}" method="GET">
      <button type="submit">Login</button>
    </a>
    <p></p>
    <a href="{% url 'logout' %}" method="GET">
      <button type="submit">Logout</button>
    </a>
  </div>
  {% if user %}<div>
    You are logged in as: <b>{{user}}</b>
  </div>{% endif %}
  <a href="{% url 'fmsapp:index'%}">Home</a>
  <a href="{% url 'fmsapp:display_address_on_map2' %}">Fire Marker application</a>
  <a href="{% url 'fmsapp:display_address_on_map1' %}">Heatmap application</a>
  <a href="{% url 'fmsapp:resources' %}">Resources</a>
</nav>

  <div class="spacer"></div>
  <div class="content">
  <p>Logged out!</p>
  <a href="{% url 'login'%}">Click here to login again.</a>
</div>
{% endblock %}
