{% extends "base_generic.html" %}
{% block title %}Login{% endblock title %}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
{% if user.is_authenticated %}
  <p>Your account doesn't have access to this page. To proceed,
  please login with an account that has access.</p>
{% else %}
  <div class="spacer"></div>
  <p>Please login to see this page.</p>
{% endif %}
{% endif %}
<nav>
  <div>
    <a href="{% url 'register' %}" method="GET">
      <button type="submit">Create New User</button>
    </a>
    <p></p>
    <a href="{% url 'login' %}" method="GET">
      <button type="submit">Login</button>
    </a>
    <p></p>
    <a href="{% url 'logout' %}" method="GET">
      <button type="submit">Logout</button>
    </a>
  </div>
  {% if user %}<div>
    You are logged in as: <b>{{user}}</b>
  </div>{% endif %}
  <a href="{% url 'fmsapp:index'%}">Home</a>
  <a href="{% url 'fmsapp:display_address_on_map2' %}">Fire Marker application</a>
  <a href="{% url 'fmsapp:display_address_on_map1' %}">Heatmap application</a>
  <a href="{% url 'fmsapp:resources' %}">Resources</a>
</nav>

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<div class="spacer"></div>
<div class="content">
<div>
<td>{{ form.username.label_tag }}</td>
<td>{{ form.username }}</td>
</div>
<p></p>
<div>
<td>{{ form.password.label_tag }}</td>
<td>{{ form.password }}</td>
</div>
<div>
<td>{{ form.email.label_tag }}</td>
<td>{{ form.email }}</td>
</div>

<div>
<input type="submit" value="login" />
<input type="hidden" name="next" value="{{ next }}" />
</div>
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}">Lost password?</a></p>
</div>
{% endblock %}
