{% extends "base_generic.html" %}
{% block title %}Login{% endblock title %}

{% block content %}
<nav>
  <div>
    <a href="{% url 'register' %}" method="GET">
      <button type="submit">Create New User</button>
    </a>
    <p></p>
    <a href="{% url 'login' %}" method="GET">
      <button type="submit">Login</button>
    </a>
    <p></p>
    <a href="{% url 'logout' %}" method="GET">
      <button type="submit">Logout</button>
    </a>
  </div>
  {% if user %}<div>
    You are logged in as: <b>{{user}}</b>
  </div>{% endif %}
  <a href="{% url 'fmsapp:index'%}">Home</a>
  <a href="{% url 'fmsapp:display_address_on_map1' %}">Fire Marker application</a>
  <a href="{% url 'fmsapp:display_address_on_map2' %}">Heatmap application</a>
  <a href="{% url 'fmsapp:resources' %}">Resources</a>
</nav>

<div class="spacer"></div>

<div class="content">
<form action="{% url 'register' %}" method="POST">
  {% csrf_token %}
{{ form }}
<p></p>
{{ addressform }}
<button type="submit">Submit</button>
</form>
</div>
{% endblock %}
