{% extends "base_generic.html" %}
{% block title %}Fire Management System{% endblock title %}
{% load static %}
<link rel="stylesheet" type="text/css" href="style_capstone.css">

{% block content %}

  <body class="wildfire">

    <nav>
      <div>
        <a href="{% url 'register' %}" method="GET">
          <button type="submit">Create New User</button>
        </a>
        <p></p>
        <a href="{% url 'login' %}" method="GET">
          <button type="submit">Login</button>
        </a>
        <p></p>
        <a href="{% url 'logout' %}" method="GET">
          <button type="submit">Logout</button>
        </a>
      </div>
      {% if user %}<div>
        You are logged in as: <b>{{user}}</b>
      </div>{% endif %}
      <a href="{% url 'fmsapp:index'%}">Home</a>
      <a href="{% url 'fmsapp:display_address_on_map2' %}">Fire Marker application</a>
      <a href="{% url 'fmsapp:display_address_on_map1' %}">Heatmap application</a>
      <a href="{% url 'fmsapp:resources' %}">Resources</a>
    </nav>

    <div class="spacer"></div>

    <div class="datasources">
      <h3>Data sources</h3>
      <a href="https://earthdata.nasa.gov/earth-observation-data/near-real-time/firms">Fire Information for Resource Management System (FIRMS)</a>
      <p></p>
      <a href="https://earthdata.nasa.gov/firms-faq">FIRMS FAQ</a>
      <p></p>
      <a href="https://earthdata.nasa.gov/earth-observation-data/near-real-time/citation#ed-firms-citation">FIRMS System Information</a>
      <p></p>
      <a href="https://earthdata.nasa.gov/earth-observation-data/near-real-time/firms/v1-vnp14imgt#ed-viirs-375m-attributes">Breakdown of VIIRS information fields</a>
      <p></p>
      <a href="https://earthdata.nasa.gov/earth-observation-data/near-real-time/firms/c6-mcd14dl#ed-firms-attributes">Breakdown of MODIS information fields</a>

    </div>
{% endblock content %}
