<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matthew Baseman Portfolio Page</title>
    <link rel="stylesheet" type="text/css" href="style_capstone.css">
  </head>
  <body class="application">

    <nav>
      <a href=capstone_index.html>Home</a>
      <a href=capstone_overview.html>Overview</a>
      <a href=capstone_application.html>Application</a>
      <a href=capstone_data.html>Data Sources</a>
    </nav>

    <div class="content">
      <h3>Phoenix</h3>
      <h5>Currently under development</h5>
      <p>As part of the program at <b><a href=https://pdxcodeguild.com/> PDX Code Guild</a></b> I have begun working on a
      capstone project.  The goal of the project is to develop an application which can alert users of wildfires in near
      real-time.  In order to develop this capability data from ****** was used.  The application goal of the application
      is to allow a user to enter a specific area and obtain current relevant informaiton on whether or not a fire is
      occuring nearby.</p>
      <a href="">Phoenix</a>
    </div>
    <div class="blank"></div>

  </body>
</html>
