<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matthew Baseman Portfolio Page</title>
    <link rel="stylesheet" type="text/css" href="style_capstone.css">
  </head>
  <body class="wildfire">

    <nav>
      <a href=capstone_index.html>Home</a>
      <a href=capstone_overview.html>Overview</a>
      <a href=capstone_application.html>Application</a>
      <a href=capstone_data.html>Data Sources</a>
    </nav>

    <div class="spacer"></div>

    <div id="capstone" class="capstone">
      <h3>Phoenix</h3>
      <h5>Currently under development</h5>
      <p>As part of the program at <b><a href=https://pdxcodeguild.com/> PDX Code Guild</a></b> I have begun working on a
      capstone project.  The goal of the project is to develop an application which can alert users of wildfires in near
      real-time.  In order to develop this capability data from the National Aeronautics and Space Administration's (NASA)
       Earth Observing System Data and Infromation System(EOSDIS) was used.  The goal of the application 
      is to allow a user to enter a specific area and obtain current relevant informaiton on whether or not a fire is
      occuring nearby.</p>
      <a href="">Phoenix</a>
    </div>

  </body>
</html>

Project Overview

Wildfires are one of the major forms of natural disasters which regularly occur in the Pacific Northwest.  Early detection is one of the best ways to mitigate the amount of damage from a wildfire.  The intent of Phoenix Fire is to create an application that will allow near real time detection of Wildfires.




Data sources
https://earthdata.nasa.gov/firms-faq#ed-nrt-standard
https://firms.modaps.eosdis.nasa.gov/active_fire/#firms-txt
https://earthdata.nasa.gov/earth-observation-data/near-real-time/citation#ed-firms-citation
https://earthdata.nasa.gov/firms-faq#ed-modis-fire-size
https://earthdata.nasa.gov/earth-observation-data/near-real-time/firms/v1-vnp14imgt#ed-viirs-375m-attributes
https://earthdata.nasa.gov/earth-observation-data/near-real-time/firms/c6-mcd14dl#ed-firms-attributes
https://data.giss.nasa.gov/gistemp/
https://www.lightningmaps.org/?lang=en#m=oss;t=3;s=0;o=0;b=;ts=1;z=5;y=27.4108;x=-88.7036;d=2;dl=2;dc=0;

Other types of fire detection systems
http://vigilys.com/technology/firealert/
https://www.firefighternation.com/articles/2013/06/using-surveillance-systems-for-wildfire-detection.html
https://www.insightrobotics.com/en/services/wildfire-detection-system/
http://fermi.jhuapl.edu/avhrr/gallery/fire/geo.html#or
