{% extends "base_generic.html" %}
{% block title %}Fire Management System{% endblock title %}

{% block content %}
<nav>
  <div>
    <a href="{% url 'register' %}" method="GET">
      <button type="submit">Create New User</button>
    </a>
    <p></p>
    <a href="{% url 'login' %}" method="GET">
      <button type="submit">Login</button>
    </a>
    <p></p>
    <a href="{% url 'logout' %}" method="GET">
      <button type="submit">Logout</button>
    </a>
  </div>
  <div>
    You are logged in as: <b>{{user}}</b>
  </div>
  <a href="{% url 'fmsapp:index'%}">Home</a>
  <a href="{% url 'fmsapp:display_address_on_map2' %}">Fire Marker application</a>
  <a href="{% url 'fmsapp:display_address_on_map1' %}">Heatmap application</a>
  <a href="{% url 'fmsapp:resources' %}">Resources</a>
</nav>

<div class="spacer"></div>

<div class="content">
  <h1>Welcome to the Fire Management System<h1>
    <h2>Under continual development</h2>
    <p>As part of my capstone project at <b><a href=https://pdxcodeguild.com/> PDX Code Guild</a></b> I have begun working on a
    Fire Management System.  The goal of the project is to develop an application which can alert users of wildfires in near
    real-time.  In order to develop this capability data from Fire Information for Resource Management System (FIRMS) was used.  The goal of the application
    is to allow a user to enter a specific area and obtain current relevant information on whether or not a fire is
    occuring nearby.</p>
    <h3>Current application features:</h3>
    <ul>
      <li>Allow a user to create an account which includes both a physical address and an e-mail address</li>
      <li>Takes the physical address of the user and geocodes (translates to latitude and longitude) it thru the google maps API</li>
      <li>Acquires fire incident location information from Fire Information for Resource Management System (FIRMS)</li>
      <li>Displays user's physical address and fire incident location, allowing near real-time (NRT) comparison</li>
      <li>Displays user's physical address and a heatmap of fire incidents allowing an estimate of the intensity of nearby fire incidents</li>
    </ul>
    <h3>Proposed future application features:</h3>
    <ul>
      <li>Create a manager user group with incident managemant features</li>
      <li>Create a fire crew user group with crew management features</li>
      <li>Allow e-mail alerts to be sent out</li>
      <li>Allow predictive modeling of fire spread</li>
      <li>Incorporate a weather API to get information on past weather and forecast of weather</li>
      <li>Predict time estimates for digging fireline</li>
    </ul>
</div>

{% endblock content %}
